@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ExtraBold.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroy/Gilroy-Light.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
}
